name: Create and publish a Docker image

on:
  push:
  pull_request:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  meta:
    name: Prepare metadata
    runs-on: ubuntu-latest

    permissions:
      contents: read

    outputs:
      tags: ${{ steps.meta.outputs.tags }}
      labels: ${{ steps.meta.outputs.labels }}
      annotations: ${{ steps.meta.outputs.annotations }}
      json: ${{ steps.meta.outputs.json }}
      git-version: ${{ steps.git-meta.outputs.git-version }}
      image-name: ${{ steps.custom-meta.outputs.image-name }}
      tag-name: ${{ steps.custom-meta.outputs.tag-name }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Git metadata
        id: git-meta
        run: |
          echo "git-version=$(git describe --tags)" >> "$GITHUB_OUTPUT"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=raw,value=${{ steps.git-meta.outputs.git-version }}

      - name: Get image details
        id: image
        run: |
          echo "image-name=${TAG%%:*}" | tee -a "$GITHUB_OUTPUT"
          echo "tag-name=${TAG##*:}" | tee -a "$GITHUB_OUTPUT"
        env:
          TAG: ${{ fromJSON(steps.meta.outputs.json).tags[0] }}

  build:
    name: >-
      Build platform specific images

    needs:
      - meta

    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux/amd64
          - linux/arm64

    runs-on: ubuntu-24.04${{ matrix.platform == 'linux/arm64' && '-arm' || '' }}

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Prepare
        id: platform
        run: |
          platform=${{ matrix.platform }}
          echo "platform-pair=${platform//\//-}" | tee -a "$GITHUB_OUTPUT"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Build and push Docker image
        id: build
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: ${{ matrix.platform }}
          labels: |
            ${{ needs.meta.outputs.labels }}
            com.datadoghq.tags.service=${{ github.event.repository.name }}
            com.datadoghq.tags.version=${{ needs.meta.outputs.git-version }}
          annotations: ${{ needs.meta.outputs.annotations }}
          outputs: type=image,name=${{ needs.meta.outputs.image-name }},push-by-digest=true,name-canonical=true,push=${{ github.event_name == 'push' && github.ref_name == github.event.repository.default_branch }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Export image digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ steps.platform.outputs.platform-pair }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    name: Merge multi arch images
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && github.ref_name == github.event.repository.default_branch }}

    permissions:
      contents: read
      packages: write

    needs:
      - meta
      - build

    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-*
          merge-multiple: true

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: >-
          docker buildx imagetools create
          $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON")
          $(printf '${{ needs.meta.outputs.image-name }}@sha256:%s ' *)
        env:
          DOCKER_METADATA_OUTPUT_JSON: ${{ needs.meta.outputs.json }}

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ needs.meta.outputs.image-name }}:${{ needs.meta.outputs.tag-name }}
