name: Tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          show-progress: "false"

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
        env:
          # https://github.com/actions/setup-go/issues/424
          TAR_OPTIONS: --skip-old-files

      - name: Check go fmt
        run: |
          gofmt -l -s -w .
          git diff --exit-code

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
